@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --first-color:#4070F4;
    --second-color:#0E2431;
    --body-font:"Poppins", sans-serif;
    --normal-font-weight: 600;
    --large-font-weight: 800;
    --extra-font-weight: 1000;
    --normal-font-size:20px;
    --big-font-size:50px;
    --extra-font-size:90px
}
*,::after,::before{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    color: var(--second-color);
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #fafcff;
}
.inder-logo{
    margin-block: 20px;
    position: fixed;
    display: flex;
    justify-content: center;
    background: url(media/Inder-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    width: 100%;
    height: 100dvh;
    z-index: -1;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
    color: var(--first-color);
    width: 100%;
    text-align: center;
}
h3{
    color: var(--first-color);
    font-size: 20px;
}
p{
    font-family: var(--body-font);
    color: var(--second-color);
    text-indent: 1rem;
    margin-block: 40px;
}

/*header*/
header{
    background: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--second-color);
    padding-inline:20px ;
    height: 60px;
    position: fixed;
    z-index: 1;
}
.logo-container a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font);
    font-weight: var(--normal-font-weight);
    cursor: pointer;
}
.small-logo{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-weight: var(--extra-font-weight);
}
.menu li {
    margin-inline: 10px;
    cursor: pointer;
    position: relative;
}
a{
    text-decoration: none;
    color: var(--second-color);
}
.menu li:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: var(--first-color);
    position: absolute;
    bottom: 0;
}

/*Seaction*/
section{
    padding-inline:20px ;
}
/*home*/
.home{
    padding-top : 60px;
    font-size: var(--big-font-size);
    font-weight: var(--large-font-weight);
    padding-inline: 20px;
}
span{
    color: var(--first-color);
}
button{
    background: var(--first-color);
    font-family: var(--body-font);
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    color:white;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
button:hover{
    background: #4070f4c7;
}
button a{
    color: white;
    font-family: var(--body-font);
}
.icons{
    display: flex;
}
.icon{
    margin: 10px;
    font-size: 20px;
    columns: var(--second-color);
    cursor: pointer;
}

/*About*/
.About{
    font-family: var(--body-font);
    padding-block: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.about-me{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*skils*/
.Skills{
    font-family: var(--body-font);
    padding-block: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.Skills-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
}
.Skills ul{
    list-style: none;
}
.Skills ul li{
    margin-block: 10px;
    width: 70%;
    height: 15%;
    background: #fff;
    border-radius: 2px;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}
.poursontage{
    position: absolute;
    right: 5px;
    color: var(--second-color);
}
[id*='skill']::after{
    content: '';
    display: block;
    height: 2.5px;
    background: var(--first-color);
    position: absolute;
    bottom: 0;
}
#skill1::after{
    width: 95%;
}
#skill2::after{
    width: 80%;
}
#skill3::after{
    width: 75%;
}
#skill4::after{
    width: 60%;
}
#skill5::after{
    width: 60%;
}
#skill6::after{
    width: 30%;
}
#skill7::after{
    width: 40%;
}

/*Projects*/

.Projects{
    padding-block: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.MyProjects{
    display: grid;
    width: 100%;
   display: flex;
   flex-wrap: wrap;
   column-gap: 20px;
   gap: 20px;
   justify-content: center;
}
.MyProjects img{
    display: block;
    width: 390px;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.5);
    transition: 0.25s;
}
.MyProjects a{
    transition: .25s;
}
.MyProjects a:hover{
    opacity: 0.9;
}

/*Contact*/

.Contact{
    width: 100%;
    padding-block: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.Contacting{
    width: 100%;
}
.Contactionf-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Contactionf-info input{
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
    background: #fff;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
    border: none;
    outline: none;
    border-radius: 5px;
}
textarea{
    width: 50%;
    background: #fff;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
    border-radius: 5px;
    outline: none;
    border: none;
}
.lines{
    display: none;
}
/*media*/
 @media(max-width:866px) {
    .inder-logo{
        background-size: 350px;
    }
    .menu{
        display: none;
        flex-direction: column;
        animation: moving 1s ease-in-out forwards;
        width: 80%;
        height: 120dvh;
        top: 42px;
        right: 0;
        position: absolute;
        background: var(--second-color);
        box-shadow: 0 4px 25px rgba(14, 36, 49, .55);
        z-index: 1;
    }
    .menu a{
        color: white;
    }
    .menu li {
        margin-block: 20px;
    }
    .lines{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 10px;
    }
    .line{
        display: flex;
        width: 20px;
        margin: 2px;
        height: 2px;
        background: var(--second-color);
        border-radius: 1px;
        transition:  0.5s ease-in-out;
    }
    @keyframes moving {
        from{
            transform: translateX(100%);
        }
        to{
            transform: translateX(0);
        }
        
    }
    .about-me,.Skills-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Skills-grid ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .Skills-grid ul li{
        margin-block: 5px;
    }
 
 }
 @media(max-width:610px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .About-me-img{
        width: 80%;
    }
    .MyProjects{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .MyProjects a{
        width: 40%
    }
    .MyProjects img{
        width: 100%
    }
    #contatid{
        width: 80%;
        height: 30px;
    }
    textarea{
        width: 80%;
    }
    p{
        margin-block: 10px;
    }
 }
